
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-*/
/playwright/.cache/
/playwright/.auth/
/reports/
/reporting-labs/
/allure-*/
/allure-report/
/reports-*/
/rl-shard-*/
/merged-*/
/reporting-*/
/all-*/
reporting-labs.history.json

#build
dist/

# env files (confidentials)- 
/config/.env.*
!/config/.env.example

#OS
.DS_Store

reporting-labs-history.json